section {
    text-align: center;
}
h2 {
    color: #004a63;
    margin-bottom: 20px;
}


/* SECCION equipo */
.equipo {
    background-size: cover;
    height: 90vh;            
    color: #fcfcfc;
    display: flex;
    justify-content: center;    
    align-items: flex-start;    
    padding-top: 30px;          
    margin-bottom: 0;     
    margin: 0px auto -300px;       
}
.equipoh1{

    color: #004a63;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}

.equipo .contenido-banner {
    padding: 20px;
    background-color: #1e2326;
    max-width: 320px;
    margin: 10px 30px;            
    text-align: center;
    border-radius: 30px;
}

.equipo .contenido-banner img {
    margin-top: 20px;          
    border: 8px solid #1CB698;
    display: block;
    width: 75%;
    margin: auto;
    border-radius: 100%;
}

.equipo .contenido-banner h1 {
    margin-top: 30px;        
    font-size: 36px;
   
}

.equipo .contenido-banner h2 {
    font-size: 14px;
    font-weight: normal;
    margin-top: 10px;         
}

.equipo .contenido-banner .redes a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 38px;             
    height: 38px;
    line-height: 38px;
    margin: 35px 8px;        
    font-size: 18px;
    transition: .3s;
}

/* Diseño flexible para la misión y visión */
.mission-vision-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.mission, .vision {
    background-color: #e7f4f9;
    padding: 20px;
    border-radius: 8px;
    width: 45%;
    margin: 10px 0;
    font-size: 22px;
}
.mission,.vision p{
font-size: 24px;
}
#services h2{
    font-size: 40px;
    
}

@media (max-width: 768px) {
    .mission, .vision {
        width: 90%;
    }
}

/* Estilo para los servicios */
.services-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.service {
    width: 30%;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
}
.service p{
    font-size: 24px;
}

.service img {
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .service {
        width: 90%;
    }
}

/* Gráficos */
.chart-selection button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #004a63;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
}
#statistics p{
    font-size: 24px;

}
.chart-selection button:hover {
    background-color: #007b9c;
}

.charts-container {
    display: none; 
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}

canvas {
    max-width: 600px;
    margin: 20px auto;
    display: none; 
}

@media (max-width: 768px) {
    canvas {
        max-width: 90%;
    }
}

/* Estilos para la sección de logros */
#achievements {
   
    padding: 50px 20px;
    text-align: center;
    border-radius: 8px;
}

#achievements h2 {
    font-size: 2.8em;
    color: #004a63; 
    margin-bottom: 30px;
}

.timeline {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    font-size: 20px;
}

.timeline li {
    background: #ffffff; 
    border-radius: 8px;
    padding: 20px;
    margin: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s, box-shadow 0.3s;
    flex: 0 0 300px; 
    position: relative;
    text-align: left; 
}

.timeline li:hover {
    transform: translateY(-5px); 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

.timeline li span {
    font-weight: bold;
    font-size: 1.5em;
    color: #00BFFF; 
    display: block; 
    margin-bottom: 10px; 
}

.timeline li p {
    margin: 0;
    color: #555; 
    font-size: 1em;
}

/* Añadir un estilo al borde izquierdo de las tarjetas */
.timeline li::before {
    content: '';
    position: absolute;
    left: -10px; 
    top: 20px; 
    width: 10px; 
    height: calc(100% - 40px); 
    background: #00BFFF; 
    border-radius: 5px; 
}
/* Responsividad  */
@media (max-width: 768px) {
    .timeline li {
        flex: 0 0 100%; 
        margin: 10px 0; 
    }

    #achievements h2 {
        font-size: 2em; 
    }
}

@media (max-width: 480px) {
    #achievements h2 {
        font-size: 1.8em; 
    }

    .timeline li {
        padding: 15px; 
    }
}

/* Estilos para el carrusel */
.carousel {
    position: relative;
    max-width: 800px; 
    width: 100%; /* Permitir que el carrusel ocupe el 100% del contenedor */
    margin: 0 auto; 
    overflow: hidden; 
    border-radius: 8px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    font-size: 24px;
}

.carousel-container {
    display: flex; 
    transition: transform 0.5s ease; 
}

.carousel-slide {
    min-width: 100%; 
    padding: 40px; 
    box-sizing: border-box; 
    text-align: center; 
}

.carousel-slide h2 {
    font-size: 2em;
    color: #004a63; 
}

.carousel-slide p {
    font-size: 1.2em; 
    color: #555; 
}

/* Estilos para botones del carrusel */
.carousel-btn {
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    background-color: rgba(0, 0, 0, 0.5);
    color: white; 
    border: none; 
    border-radius: 50%; 
    padding: 10px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
}

.carousel-btn:hover {
    background-color: rgba(0, 0, 0, 0.7); /* Oscurecer el fondo al pasar el mouse */
}

.carousel-btn.prev {
    left: 10px; 
}

.carousel-btn.next {
    right: 10px; 
}

/* Estilos para pantallas más pequeñas */
@media (max-width: 768px) {
    .carousel {
        font-size: 20px; /* Ajustar tamaño de fuente para móviles */
    }

    .carousel-slide h2 {
        font-size: 1.5em; /* Reducir tamaño de título */
    }

    .carousel-slide p {
        font-size: 1em; /* Reducir tamaño de texto */
    }

    .carousel-btn {
        padding: 8px; /* Ajustar el tamaño del botón */
    }
}

@media (max-width: 480px) {
    .carousel {
        font-size: 18px; /* Ajustar tamaño de fuente para pantallas muy pequeñas */
    }

    .carousel-slide h2 {
        font-size: 1.2em; /* Reducir aún más el tamaño del título */
    }

    .carousel-slide p {
        font-size: 0.9em; /* Reducir tamaño de texto */
    }

    .carousel-btn {
        padding: 6px; /* Ajustar el tamaño del botón */
    }
}
